<p class="about">Olen tuomakse ja teen satunnaisia asioita <a href="http://gitlab.com/Tumocs">GitLabissa</a>.</p>
<ul class="headlinks">
	<li class="gitlab">
	  <a href="http://gitlab.com/Tumocs"><img src="img/github.png" alt="GitLab" /></a>
	</li>
</ul>
