<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="robots" content="index, follow">
<meta name="description" content="Tuomanaattorin superblogi" />
<meta name="keywords" content="SUPER BLOGI" />
<meta name="author" content="Tuomakse" />

<link rel="shortcut icon" href="doodle.png" />
<link rel="alternate" type="application/rss+xml" href="feed.xml" />

<link rel="stylesheet" href="/blog/css/default.css" />
<link rel="stylesheet" href="/blog/css/animations.css" />
