<?php
	if($_POST) {
		$name = $_POST['nickbox'];
		$content = $_POST['commentbox'];
		$file = "/home/testi/" . basename(__FILE__, ".html") . ".comments";
		$comment = "<b>" . htmlspecialchars($name) . "</b>:<br/> " . nl2br(htmlspecialchars($content)) . "<br/>";
		$handle = fopen($file, "a");
		fwrite($handle, $comment);
		fclose($handle);
	}
?>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{site_title}} - {{title}}</title>
  {{common_head}}
</head>
<body>
  <header role="banner" id="post-head">
    <div class="container">
      <a href="/blog/" class="logo"><img src="img/logo@2x.png" width="20%" height="20%" alt="Logo" /></a>
    </div>
  </header>

  <section role="main" class="container">
	  <article>
	    <header>
		    <p class="meta" id="time"><time datetime="{{date}}"><a href="{{monthly_archive_url}}">{{month}}</a> {{day}}, {{year}}</time></p>
	      <h1>{{title}}</h1>
	    </header>
	    <section class="content">
	      {{content}}
	    </section>
	    <footer role="contentinfo" class="post-footer">
 		    <p class="meta" id="tags">{{tags}}</p>
	    </footer>
	  </article>  
	  <form action="" method="post">
		  Name:<br>
		  <input type="text" name="nickbox"/><br>
		  Comment:<br>
		  <textarea style="width:30em;height:12em" name="commentbox"></textarea><br>
		  <input type="submit" value="POST">
	  </form>
	  <br/>
	  <h3> COMMENTS: </h3><br/>
	  <?php 
	  $file = "/home/testi/" . basename(__FILE__, ".html") . ".comments";
	  include $file; ?>
  </section>
    
  <footer id="footer">
    <section class="container">
      <p>Powered by <a href="https://github.com/an0/Letterpress">Letterpress</a>.</p>
    </section>
  </footer>
</body>
</html>
