<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>{{site_title}} - {{title}}</title>
  {{common_head}}
</head>
<body>
  <header role="banner" id="post-head">
    <div class="container">
      <a href="/" class="logo"><img src="img/logo@2x.png" alt="Logo" /></a>
    </div>
  </header>

  <section role="main" class="container">
	  <article>
	    <header>
		    <p class="meta" id="time"><time datetime="{{date}}"><a href="{{monthly_archive_url}}">{{month}}</a> {{day}}, {{year}}</time></p>
	      <h1>{{title}}</h1>
	    </header>
	    <section class="content">
	      {{content}}
	    </section>
	    <footer role="contentinfo" class="post-footer">
 		    <p class="meta" id="tags">{{tags}}</p>
        <wb:share-button addition="simple" type="button" ralateUid="1676354212" picture_search="false" title="{{title}}：{{excerpt}}"></wb:share-button>
	    </footer>
	  </article>  
  </section>
    
  <footer id="footer">
    <section class="container">
      <p>Powered by <a href="https://github.com/an0/Letterpress">Letterpress</a>.</p>
    </section>
  </footer>

  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" charset="utf-8"></script>
</body>
</html>
