<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{site_title}} - {{archive_title}}</title>
  {{common_head}}
</head>
<body>
	<header role="banner">
	  <div class="container">
	    <a href="/blog/" class="logo"><img src="img/logo@2x.png" alt="Logo" /></a>
			<nav class="archive header">
				<h1 class="archive-title">{{archive_title}}</h1>
			</nav>
	  </div>
	</header>

  <section role="main" class="container">
		{{#posts}}
		<article>
		  <header>
			  <p class="meta"><time datetime="{{date}}">{{pretty_date}}</time></p>
		    <h2><a href="{{permalink}}">{{title}}</a></h2>
		  </header>
		  <section class="content">
		    <p class="intro">{{excerpt}}</p>
		  </section>
		</article>
		{{/posts}}
  </section>

  <footer id="footer">
    <section class="container">
      <p>Powered by <a href="https://github.com/an0/Letterpress">Letterpress</a>.</p>
    </section>
  </footer>
</body>
</html>
